body {
    background-color: rgb(178, 253, 135);
    display: flex;
    margin: 10px 10px;
    font-family: Inconsolata, monospace;
}

/* Styling Header */

header {
    /* Layout & Positioning */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 152, 240);
    z-index: 1000;


    /* Box Model */
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

.logo-container { 
    /* Layout & Positioning */
    display: flex;
    align-items: center;

    /* Box Model */
    padding: 5px;
}


.account-container {
    /* Box Model */
    margin: 5px;
    padding: 10px 10px;

}

.account-info img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.account-info:hover {
    cursor: pointer;
}
main {
    /* Layout & Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem; /* To avoid overlap with fixed header */

    /* Box Model */
    padding: 20px;
    width: 100%;
    height: 100%;


    /* Appearance */
    background-color: rgb(164, 234, 123);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}


/* Styling Timer */

.timer {
    /* Layout & Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Box Model */
    margin: 2rem 0;
    padding: 3rem;
    width: 30%;
    height: 70%;


    /* Appearance */
    background-color: #A7F3D0;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.settings-cog-container {
    /* Layout & Positioning */
    display: flex;
    align-items: right;
    justify-content: right;
    position: absolute;

    /* Box Model */
    padding: 5px;
}

.settings-cog {
    width: 28px;         /* Set desired button size */
    height: 28px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.settings-cog img {
    width: 20px;         /* Set desired icon size */
    height: 20px;
    object-fit: contain;
    display: block;
}


.timer-label-container {
    /* Layout & Positioning */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;

    
    /* Box Model */
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    padding: 5px;
}

.timer-label {
    /* Layout & Positioning */
    position: absolute;
    top: 0;
    /* Box Model */
    padding: 5px 20px;
    

    /* Appearance */
    background: #fffbe7;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    font-weight: bold;
    color: #333; 
}

.timer-display {
    /* Layout & Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    /* Box Model */
    padding: 10px;
    margin-bottom: 5px;

    /* Apperance */
    font-size: 3rem;
    font-weight: 60%;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(36, 34, 34, 0.1);

}

.timer-controls {
    /* Layout & Positioning */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* Box Model */
    padding: 5px;
    margin-top: 1.5rem;

}

.btn {
    /* Layout & Positioning */
    display: flex;
    flex-direction: row;
    margin: 5px;

    /* Box Model */
    padding: 0.5rem 0.5rem;
    border-radius: 5px;

    /* Appearance */
    background-color: #4f46e5;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #4338ca;
    cursor: pointer;
}

.btn:active {
    background-color: #3730a3;
}

